page,
.wrapper {
  background: linear-gradient(180deg, #ffeebf 0%, #faf6ed 100%);
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & > view {
    height: 50%;
  }

  // 容器上层
  .photo-top {
    padding: 20px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .photo-compose-container {
      width: 300px;
      height: 300px;
      border-radius: 30px;
      border: 1.5px;
      background-color: white;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      overflow: hidden;
      background-image: url('../../images/select-btn-bg.png');
      background-size: 16px 16px;
      box-shadow: 0px 8px 20px 0px rgba(211, 128, 0, 0.20);
      position: relative;
      &::after {
        left: 0;
        right: 0;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        box-shadow: inset 0.5PX 0.5PX 0PX 0.5PX #0000001A,
        inset -0.5PX -0.5PX 0PX 0.5PX #0000001A;
        border-radius: 30px;
        pointer-events: none;
      }
      >view {
        text-align: center;
      }
      .select-btn {
        box-sizing: content-box;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        color: white;
        border: $border;
        margin-bottom: 20px;
        line-height: 50px;
        padding: 0;
        text-align: center;
        position: relative;
        &::after {
          left: 0;
          right: 0;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          box-shadow: inset 0.5PX 0.5PX 0PX 0.5PX #0000001A,
            inset -0.5PX -0.5PX 0PX 0.5PX #0000001A;
          border-radius: 10px;
          pointer-events: none;
        }
      }
      .avatar-wrapper {
        background-color: #57bf6b;
      }

      .local-album{
        background-color: black;
        color: white;
        margin-bottom: 10px;
        .recommend {
          display: inline-block;
          background-color: #FFFFFF40;
          color: white;
          padding: 0px 5px;
          line-height: 20px;
          font-size: 12px;
          border-radius: 10px;
          vertical-align: middle;
        }
      }

      .user-view {
        width: 100%;
        height: 100%;
        overflow: hidden;
        #canvas {
          width: 300px !important;
          height: 300px !important;
          position: absolute;
          top: -999999px;
          left: 9999px;
        }

        .create-img {
          background-color: #1c1d20;
          color: white;
        }
      }
      text {
        font-size: 14px;
      }
    }
    .preview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 86%;
      padding: 15px;
      view {
        font-size: 14px;
        display: flex;
        align-items: center;
        font-weight: 500;
        cursor: pointer;
      }
      view > image {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }
  .photo-bottom {
    background: #fefefd;
    padding-top: 15px;
    border-top: 1px solid  rgba(0, 0, 0, 0.10);

    .themes-scrollview {
      margin-bottom: 20px;

      .active {
        color: #ffa112;
        text-decoration: underline;
        -ms-text-underline-position: 6px;
        text-underline-offset: 6px;
      }

      .scroll-item {
        display: inline-block;
        cursor: pointer;
        height: 22px;
        padding: 6px 4px;
        margin-right: 20px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .photo-scrollview {
      .scroll-item {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        overflow: hidden;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer;
        background-image: url('../../images/select-btn-bg.png');
        background-size: 16px 16px;
        position: relative;
        &::before {
          left: 0;
          right: 0;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          box-shadow: inset 0.5PX 0.5PX 0PX 0.5PX #0000001A,
          inset -0.5PX -0.5PX 0PX 0.5PX #0000001A;
          border-radius: 10px;
          pointer-events: none;
        }
      }
      .active {
        &::before {
          background-color: rgba(0, 0, 0, 0.60);;
        }

        &::after{
          left: 0;
          right: 0;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          pointer-events: none;
          background-image: url('../../images/success.png');
          background-repeat: no-repeat;
          background-size: 24px 24px;
          background-position: center center;
        }
      }
    }

    .photo-operation {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 10px;
      margin-top: 20px;

      .create-img {
        background-color: #ffa112;
        width: 280px;
        height: 50px;
        border-radius: 10px;

        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        &::after {
          left: 0;
          right: 0;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          box-shadow: inset 0.5PX 0.5PX 0PX 0.5PX #0000001A,
            inset -0.5PX -0.5PX 0PX 0.5PX #0000001A;
          border-radius: 10px;
          pointer-events: none;
        }

        image {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }

      .share {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: #1c1d20;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        &::after {
          left: 0;
          right: 0;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          box-shadow: inset 0.5PX 0.5PX 0PX 0.5PX #0000001A,
            inset -0.5PX -0.5PX 0PX 0.5PX #0000001A;
          border-radius: 10px;
          pointer-events: none;
        }

        image {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
