page, .wrapper {
    background: linear-gradient(180deg, #FFEEBF 0%, #FAF6ED 100%);
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &>view {
        height: 50%;
    }

    // 容器上层
    .photo-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .photo-compose-container {
            width: 300PX;
            height: 300PX;
            border-radius: 30px;
            border: 1.5px;
            background-color: white;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            overflow: hidden;
            .avatar-wrapper {
                background-color: #FFA112;
                width: 200px;
                height: 50px;
                border-radius: 10px;
                border: 1px;
                gap: 10px;
                margin-bottom: 10px;  
            }

            .avatar-wrapper {
                background-color: #57BF6B;
                color: white;
            }
            .create-img {
                background-color: #1C1D20;
                color: white;

            }
        }
    }

    .photo-bottom {
        background: #fefefd;
        padding-top: 20px;
        .scrollview {
            .scroll-item {
                width: 100px;
                height: 100px;
                margin-right: 20px;
                overflow: hidden;
                border-radius: 10px;
                display: inline-block;
                cursor: pointer;
            }
        }
        .create-img {
            background-color: #FFA112;
            width: 200px;
            height: 50px;
            border-radius: 10px;
            border: 1px;
            margin-bottom: 10px;  
            margin-top: 20px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            image {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
}