page {
  padding         : 14px;
  box-sizing      : border-box;
  color           : #333;
  background-image: url('./imgs/bg_nd.png');
  background-size: 100%;
}

page,
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;


  // 容器上层
  .photo-top {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      width: 240px;
      height: 113px;
      image {
        width: 100%;
        height: 100%;
      }
    }

    .photo-compose-container {
      width: 300px;
      height: 300px;
      border-radius: 30px;
      border: 1.5px;
      background-color: white;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      overflow: hidden;
      background-image: url('../../images/select-btn-bg.png');
      background-size: 16px 16px;
      border: $border;
      box-shadow: $box-shadow;
      >view {
        text-align: center;
      }
      .select-btn {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        color: white;
        border: 1px;
        margin-bottom: 20px;
        line-height: 50px;
        text-align: center;
      }
      .avatar-wrapper {
        background-color: #57bf6b;
      }

      .local-album{
        background-color: black;
        color: white;
        margin-bottom: 10px;
        .recommend {
          display: inline-block;
          background-color: #FFFFFF40;
          color: white;
          padding: 0px 5px;
          line-height: 20px;
          font-size: 12px;
          border-radius: 10px;
          vertical-align: middle;
        }
      }

      .user-view {
        width: 100%;
        height: 100%;
        overflow: hidden;
        #canvas {
          width: 300px !important;
          height: 300px !important;
          position: absolute;
          top: -999999px;
          left: 9999px;
        }

        .create-img {
          background-color: #1c1d20;
          color: white;
        }
      }
      text {
        font-size: 14px;
      }
    }
    .preview {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 86%;
      padding: 15px;

      view {
        font-size: 14px;
        display: flex;
        align-items: center;
        font-weight: 500;
        cursor: pointer;
        color: white;
      }
      view > image {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 4px;
      }
    }
  }
  .photo-bottom {
    .photo-scrollview {
      .scroll-item {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        overflow: hidden;
        border-radius: 10px;
        display: inline-block;
        cursor: pointer;
        background-image: url('../../images/select-btn-bg.png');
        background-size: 16px 16px;
        border: 1PX solid rgba(0, 0, 0, 0.1019607843)
      }
    }

    .photo-operation {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 20px;

      .create-img {
        background-color: #ffa112;
        width: 280px;
        height: 50px;
        border-radius: 10px;

        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;

        image {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }

      .share {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: #1c1d20;
        display: flex;
        justify-content: center;
        align-items: center;

        image {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
