.custom-navigator {
    color: var(--text-icon-black, #1C1D20);
    font-family: PingFang SC;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    z-index: 999;
    position: sticky;
    top: 0;
    text-indent: 15px;
    .other {
        font-size: 16px;
        font-weight: 600;
    }
}